@model ClinicaMedica.Data.Models.Receta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <h4>Receta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cita.CitaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.MedicamentoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecetaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
