@model ClinicaMedica.Data.Models.Cita

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar esta cita?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.PersonalId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CitaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
